<%= render "shared/page_title", title: "Showing all Chefs"%>

<div class="col-md-12">
<% @chefs.each do |chef| %>
  <div class="well col-md-12">
    <div class="col-md-10">
      <%= link_to "Chef: " + chef.chefname, chef_path(chef) %>
      <br/>
      Contact: <%= chef.email %>
    </div>
    <div class="col-md-2">
      <p>
        <%= chef_has_recipes?(chef) %>
      </p>
    </div>
  </div>
  <br/>
<% end %>
</div>
